<div class="box">
    <div class="top">
        <span><img src="assets/images/arrow.png"></span>
        <div>销售历史</div>
        <span><img src="assets/images/DropDownArrow.png"></span>
        <span class="top1"><img src="assets/images/notice.png"></span>
        <div>通知</div>
        <span><img src="assets/images/increased.png"></span>
        <div>新增</div>
        <span><img src="assets/images/query.png"></span>
        <div>查询</div>
    </div>
    <div class="nav1">
        <a href="#">默认</a>
        <a href="#">草稿</a>
        <a href="#">已出售</a>
    </div>
    <div class="nav2">
        <a href="#">待出售</a>
        <a href="#">部分出库</a>
        <a href="#">撤销</a>
    </div>
    <div class="nav3">
        <span>☆</span>
        长按单据记录可进行批量操作
    </div>
    <div class="info">
        <a href="#">
            <div class="one"><img src="assets/images/house.png" /></div>
            <div class="two">
                <div>
                    <h5>雷武仲</h5>
                    <span class="xiaoliang">销：110</span>
                </div>
                <div>
                    <div class="number">PF2201090130495038</div>
                    <span class="price">￥4,977.30</span>
                </div>
                <div>
                    <div class="time">2022-01-09 01:30</div>
                    <span class="out">已出库数：0</span>
                </div>
                <div class="three-four">八楼仓库</div>
            </div>
        </a>
    </div>
    <div class="info">
        <a href="#">
            <div class="one"><img src="assets/images/house.png" /></div>
            <div class="two">
                <div>
                    <h5>江志鹏</h5>
                    <span class="xiaoliang">销： 57</span>
                </div>
                <div>
                    <div class="number">PF2201090130480725</div>
                    <span class="price">￥5,073.00</span>
                </div>
                <div>
                    <div class="time">2022-01-09 01:30</div>
                    <span class="out">已出库数：0</span>
                </div>
                <div class="three-four">八楼仓库</div>
            </div>
        </a>
    </div>
    <div class="info">
        <a href="#">
            <div class="one"><img src="assets/images/house.png" /></div>
            <div class="two">
                <div>
                    <h5>朱思聪</h5>
                    <span class="xiaoliang">销：280</span>
                </div>
                <div>
                    <div class="number">PF2201090130464459</div>
                    <span class="price">￥5,040.00</span>
                </div>
                <div>
                    <div class="time">2022-01-09 01:30</div>
                    <span class="out">已出库数：0</span>
                </div>
                <div class="three-four">八楼仓库</div>
            </div>
        </a>
    </div>
    <div class="info">
        <a href="#">
            <div class="one"><img src="assets/images/house.png" /></div>
            <div class="two">
                <div>
                    <h5>陈四妹</h5>
                    <span class="xiaoliang">销： 37</span>
                </div>
                <div>
                    <div class="number">PF2201090130452556</div>
                    <span class="price">￥5,040.00</span>
                </div>
                <div>
                    <div class="time">2022-01-09 01:30</div>
                    <span class="out">已出库数：0</span>
                </div>
                <div class="three-four">八楼仓库</div>
            </div>
        </a>
    </div>
    <div class="info">
        <a href="#">
            <div class="one"><img src="assets/images/house.png" /></div>
            <div class="two">
                <div>
                    <h5>杨小红</h5>
                    <span class="xiaoliang">销： 44</span>
                </div>
                <div>
                    <div class="number">PF2201090130440782</div>
                    <span class="price">￥4,885.00</span>
                </div>
                <div>
                    <div class="time">2022-01-09 01:30</div>
                    <span class="out">已出库数：0</span>
                </div>
                <div class="three-four">八楼仓库</div>
            </div>
        </a>
    </div>
    <div class="info">
        <a href="#">
            <div class="one"><img src="assets/images/house.png" /></div>
            <div class="two">
                <div>
                    <h5>任运明</h5>
                    <span class="xiaoliang">销： 71</span>
                </div>
                <div>
                    <div class="number">PF2201090130428979</div>
                    <span class="price">￥5,040.00</span>
                </div>
                <div>
                    <div class="time">2022-01-09 01:30</div>
                    <span class="out">已出库数：0</span>
                </div>
                <div class="three-four">八楼仓库</div>
            </div>
        </a>
    </div>

</div>